{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}

    <h2>Hello, world!</h2>

    <p>With a passport, we can all say "Hello, world."</p>

    <p>A passport allows you to travel the world and experience new cultures.
    But before you can travel with your passport, you have to go through the experience
    of actually getting a passport.</p>

    <p>Since the start of the COVID-19 pandemic, the U.S. Department of State
    has been bogged down with the demand for passports, by having too many applications
    to process and having too many phone calls to answer. The U.S. mail system has also suffered
    greatly during the pandemic. Due to both of these new strains on the U.S. Department of State
    and the U.S. Postal Service, it has taken longer than usual to receive your passport and
    the documents you submit along with your application.</p>

    <p>This site has been created to help passport applicants through the process, as a more
    personal supplement to the <a href="https://travel.state.gov/content/travel.html"
    target="_blank" rel="noopener noreferrer">U.S. Department of State</a> website.
    Here, you have access to an interactive checklist of materials to bring, a cost calculator,
    and an estimated time of arrival for your passport book or card.</p>

    <p>Enjoy!</p>

{% endblock %}